version: '3.8'

services:
  spark-master:
    image: bitnami/spark:latest
    hostname: spark-master
    container_name: spark-master
    ports:
      - "7077:7077"
      - "8080:8080"
    environment:
      - SPARK_MODE=master
      - SPARK_MASTER_HOST=spark-master
    deploy:
      resources:
        limits:
          memory: 512m
          cpus: '0.5'

  spark-worker-1:
    image: bitnami/spark:latest
    hostname: spark-worker-1
    container_name: spark-worker-1
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
    depends_on:
      - spark-master
    deploy:
      resources:
        limits:
          memory: 512m
          cpus: '0.5'

  spark-worker-2:
    image: bitnami/spark:latest
    hostname: spark-worker-2
    container_name: spark-worker-2
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
    depends_on:
      - spark-master
    deploy:
      resources:
        limits:
          memory: 512m
          cpus: '0.5'